<!-- views/partials/properties.ejs -->
<div class="properties">
    <h1>Properties</h1>

    <!-- Display the items in the Mongo databasee -->
    <!-- TODO: This is more for testing and space filler - not final -->
    <ul class="graph">
        <% for(var i=0; i<network.length; i++) { %>
            <li class="element">
                <% if (network[i].type == "node") { %>
                    <span>Type: <%= network[i].type %>,</span>
                    <span>Label: <%= network[i].node_name %>,</span>
                    <span>X pos: <%= network[i].x_pos %>,</span>
                    <span>Y pos: <%= network[i].y_pos %>.</span>
                <% } else if (network[i].type == "edge") { %>
                    <span>Type: <%= network[i].type %>,</span>
                    <span>Label: <%= network[i].edge_name %>,</span>
                    <span>Source node: <%= network[i].source_node %>,</span>
                    <span>Target node: <%= network[i].target_node %>.</span>
                <% } %>
            </li>
        <% } %>
    </ul>
</div>
