<!-- views/partials/properties.ejs -->
<div>
    <h1>Properties</h1>

    <!-- Display the element properties in the Mongo database -->
    <!-- TODO: This is more for testing it does not update in real time - only on page refresh -->
    <ul class="graph">
        <li>View name: "<%= view.name %>"
        <ul>
            <% for (var one_node of view.nodes) { %>
                <li>Node name: "<%= one_node.node.name %>", x position: <%= one_node.x_pos %>, y position: <%= one_node.y_pos %></li>
            <% } %>
            <% for (var one_edge of view.edges) { %>
                <li>Edge connects node "<%= one_edge.edge.source_node.name %>" to node "<%= one_edge.edge.target_node.name %>"</li>
            <% } %>
        </ul>
    </ul>
</div>
