<!-- views/partials/workingSpace1.ejs -->
<div class="workingSpace col-lg-9">
    <h1>Working Space</h1>

    <!-- Remember to implement tabs -->

    <!-- The cytoscape container -->
    <div id="cy" class="container-fluid"></div>

    <!-- Insert essential elements and properties from the database into the workspace -->
    <script>
        var cy1 = cytoscape({
            container: document.getElementById('cy'),
            elements: [
                <% for (var one_node of view.nodes) { %>
                        {
                            // TODO: just use style label, not data id. id cannot be changed later.
                            data: { id: '<%= one_node.node.name %>', name: '<%= one_node.node.name %>' },
                            style : { label: '<%= one_node.node.name %>' },
                            position: {
                                x: <%= one_node.x_pos %>,
                                y: <%= one_node.y_pos %>
                            }
                        },
                <% } %>
                <% for (var one_edge of view.edges) { %>
                    {
                        data: {
                            // TODO: maybe grab edge ID instead of looking for edge id in database
                            // using source and target. This is in the controller files. Might not work for new edges though
                            id: '<%= one_edge.edge._id %>',
                            source: '<%= one_edge.edge.source_node.name %>',
                            target: '<%= one_edge.edge.target_node.name %>'
                        }
                    },
                <% } %>
            ],
            //Styles will need to be adjusted when object types are implemented
            //A type is retrieved from DB and the appropriate styles are loaded
            // - or changed directly after initialisation
            style: [
                {
                    selector: 'node',
                    style: {
                        label: 'data(id)',
                        shape: 'ellipse',
                        'width': 'label',
                        'height': 'label',
                        'padding': 10,
                        'text-valign': 'center',
                        'background-color': 'white',
                        'border-color': 'black',
                        'border-width': 1
                    }},
                {
                    selector: 'edge',
                    style: {
                        'curve-style': 'bezier',
                        'source-endpoint': 'inside-to-node',
                        'line-color': 'black',
                        'target-arrow-shape': 'triangle',
                        'target-arrow-fill': 'hollow',
                        'target-arrow-color': 'black',
                    }},
                {
                    selector: ':selected, :active',
                    style: {
                        'overlay-color': '#66a366',
                        'overlay-opacity': 0.5,
                        'overlay-padding': 5
                    }}
                ],
            layout: {
                name: 'preset'
            }
        });

        var current;

        cy1.on('mousedown drag', 'node', function(evt){
            current = this;
            changeText(current);
        });
    </script>
</div>
