<!-- views/partials/properties.ejs -->
<div>
    <h1>Properties</h1>

    <!-- Display the element properties in the Mongo database -->
    <!-- TODO: This is more for testing it does not update in real time - only on page refresh -->
    <ul class="graph">
        <li>View name: "<%= view.name %>"
        <ul>
            <% for (let one_node of view.nodes) { %>
                <% if (one_node.node.name) { %>
                    <li>Node name: "<%= one_node.node.name %>", Position: (<%= one_node.x_pos %>, <%= one_node.y_pos %>), ID: <%= one_node.node._id %></li>
                <% } %>
            <% } %>
            <% for (let one_edge of view.edges) { %>
                <% if (one_edge.edge.source_node.name && one_edge.edge.target_node.name) { %>
                    <li>Edge connects node "<%= one_edge.edge.source_node.name %>" to node "<%= one_edge.edge.target_node.name %>"</li>
                <% } %>
            <% } %>
        </ul>
    </ul>
</div>
