<!-->Contains the 'message box' for displaying information to the user, -->
<!-->And the interactable cytoscape module-->
<!-->Authors: JOnathan Williams, Darian Brandt-->

<!-- views/partials/workingSpace1.ejs -->
<div>
    <h1>Working Space</h1>

    <!-- Remember to implement tabs -->

    <div class="msg_board">
        <p id="msg_board_one">Server status: Idle</p>
        <p>Remember to press "save view" to record your graph progress and to update the view name.</p>
    </div>

    <!-- The cytoscape container -->
    <div id="cy"></div>

    <!-- Insert essential elements and properties from the database into the workspace -->
    <!--> loads using cytoscape initialisation options-->
    <script>
        var cy1 = cytoscape({
            container: document.getElementById('cy'),
            elements: [
                <% for (let one_node of view.nodes) { %>
                    // Only display node if it exists
                    <% if (one_node.node.name) { %>
                        {
                            // the "name" property is used to display the node over "id" or "style.label"
                            // as "id" cannot be changed later and "label" has some issues.
                            data: { id: '<%= one_node.node.name %>', name: '<%= one_node.node.name %>' },
                            style : { label: '<%= one_node.node.name %>' },
                            position: {
                                x: <%= one_node.x_pos %>,
                                y: <%= one_node.y_pos %>
                            }
                        },
                    <% } %>
                <% } %>
                <% for (let one_edge of view.edges) { %>
                    // Only display an edge if both connected nodes are not null
                    <% if (one_edge.edge.source_node.name && one_edge.edge.target_node.name) { %>
                        {
                            data: {
                                // TODO: maybe grab edge ID instead of looking for edge id in database
                                // using source and target. This would be done in the controller files. Might not work for new edges though
                                id: '<%= one_edge.edge._id %>',
                                source: '<%= one_edge.edge.source_node.name %>',
                                target: '<%= one_edge.edge.target_node.name %>'
                            }
                        },
                    <% } %>
                <% } %>
            ],
            //Styles will need to be adjusted when object types are implemented
            //A type is retrieved from DB and the appropriate styles are loaded
            // - or changed directly after initialisation
            style: [
                {
                    selector: 'node[label != "connector"]',
                    style: {
                        label: 'data(id)',
                        shape: 'ellipse',
                        'width': 'label',
                        'height': 'label',
                        'padding': 10,
                        'text-valign': 'center',
                        'background-color': 'white',
                        'border-color': 'black',
                        'border-width': 1
                    }},
                {
                    selector: 'edge',
                    style: {
                        'curve-style': 'bezier',
                        'source-endpoint': 'inside-to-node',
                        'line-color': 'black',
                        'target-arrow-shape': 'triangle',
                        'target-arrow-fill': 'hollow',
                        'target-arrow-color': 'black',
                    }},
                {
                    selector: ':selected, :active',
                    style: {
                        'overlay-color': '#66a366',
                        'overlay-opacity': 0.5,
                        'overlay-padding': 5
                    }}
                ],
            layout: {
                name: 'preset'
            }
        });

        //Changes text to information about active node
        var current;

        //Will need to adjust for multiple tabs
        cy1.on('mousedown drag', 'node', function(evt){
            current = this;
            changeText(current);
        });

        var cy = cy1; //Stores current cytoscape object
        
    </script>
</div>
